/* media-screen-for-laptop */
@media screen and (max-width: 992px) {
              
              .carousel-caption-text {
                            width: 70% !important;
              }

              .carousel-caption {
                            height: 200px;
              }

              .course-text>div {
                            padding: 0 130px;
              }
}

/* media-screen-for-tablet */
@media screen and (max-width: 768px) {
              .carousel-item img {
                            height: 60vh;
                            object-fit: cover;
                            object-position: center;
              }

              .course-text>div {
                            padding: 0 70px;
              }

              .student-text {
                            width: 70%;
              }
}

/* media-screen-for-mobile */
@media screen and (max-width: 576px) {

              .carousel-item img {
                            height: 50vh;
                            object-fit: cover;
                            object-position: center;
              }

              .carousel-caption {
                            height: 250px;
              }

              .course-text>div {
                            padding: 0 30px;
              }

              .student-text {
                            width: 80%;
                            text-align: center;
                            margin: 0 auto;
              }
}